html,
body {
  line-height: 1;
  font: normal 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  line-height: 1.75;
  letter-spacing: 0.008em;
}
a {
  text-decoration: none;
  color: red;
}
a:hover {text-decoration: underline; }
h1,
h2,
h3 {
  font-weight: 400;
  text-align: center;
}
p {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  word-break: normal;
  overflow-wrap: anywhere;
  text-align: justify;
}
.imagemraul {
  display: block;
  margin: 0 auto 3rem;
  width: 10vw;
}
#footer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: #bbbbbb;
  font-size: 14px;
}
#footer .copyright {
  margin: 20px auto;
  font-size: 15px;
}
.main {
  width: 100%;
  margin: 0 auto;
}
#single {
  max-width: 780px;
  margin: 60px auto 0 auto;
  padding: 0 64px;
}
#single .title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}
@media (max-width: 700px) {
  #single {
    padding: 0 18px;
    margin: 20px auto 0 auto;
  }
  #single .title {
    font-size: 24px;
    line-height: 32px;
  }
}
#single .content { margin-top: 36px; }
#single .tags { margin-top: 24px; }
#single .tags a {
  background: #f2f2f2;
  padding: 4px 7px;
  color: #757575;
  font-size: 14px;
  margin-right: 3px;
}
#single .tags a:hover { color: #0366d6; }
#section {
  max-width: 580px;
  margin: 48px auto 0 auto;
  padding: 0 12px;
}